body {
  background-color: lightblue;
}

form {
  text-align: center;
}

form2 {
  text-align: left;
}
#inputString, #inputFirst, #inputSecond, #inputString1, #counter {
  height: 25px;
  border-color: blue;
}

h3 {
  color: blue;
  text-align: center;
}

button {
  border-color: lightblue;
  text-align: center;
}